html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', serif;
}

.icon {
  height: 44px;
  width: 36px;
  color: #4F6367;
}

.nav-bar {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  list-style-type: none;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  color: #4F6367;
  background-color: #EEF5DB;
  border-bottom: 8px solid #B8D8D8;
}

.profile-picture {
  height: 131px;
  width: 131px;
  margin: 17px;
}

.header-section {
  display: flex;
  background-color: #4F6367;
  width: 100%;
  border-bottom: 10px solid #7A9E9F;
}

.nav-section {
  border: 1px solid #7A9E9F;
  display: flex;
  padding: 0 10px;
}

.welcome-header {
  color: #B8D8D8;
  font-size: 50px;
}

.goals-header {
  text-align: center;
  color: #B8D8D8;
  font-size: 50px;
  margin: 0;
}

.menu-section {
  width: 50%;
  background-color: #4F6367;
}

.step-counter {
  display: flex;
}

.today-count {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.week-count {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.today, .week {
  align-content: center;
  font-size: 36px;
  color: #B8D8D8;
}

span {
  display: block;
  font-size: 24px;
  color: #B8D8D8;
}

.graph {
  height: 125px;
  width: 195px;
}

.steps {
  color: #B8D8D8;
  font-size: 75px;
  margin: 0;
}

.exercises-section {
  background: url('./images/images/manlyman-background.jpg');
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(254, 95, 85, 0.7);
  width: 50%;
  border: 15px solid #FE5F55;
  text-align: center;
}

.body-content {
  display: flex;
}

.exercise-instructions {
  display: inline;
}
